# Created by https://www.toptal.com/developers/gitignore/api/androidstudio,android
# Edit at https://www.toptal.com/developers/gitignore?templates=androidstudio,android

### Android ###
# Gradle files
.gradle/
build/